// collapse toggle button indicator
// See Material Icons:
// - https://design.google.com/icons/
// - https://github.com/google/material-design-icons/blob/master/iconfont/codepoints
$sm-collapse-toggle-family:         "Material Icons" !default;
$sm-collapse-toggle-icon:           "\e313" !default; // keyboard_arrow_down
$sm-collapse-open-toggle-icon:      "\e316" !default; // keyboard_arrow_up